@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bogle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(Imagens/Capa\ para\ facebook\ natal\ árvore\ presentes\ felicitações\ alegre\ vermelho.png);


}

.container {
    background: rgba(222, 16, 16, 0.263);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(216, 153, 142, 0.453);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(201, 29, 29, 0.136);
    padding: 40px;
    width: 400px;
}

.container h1 {
    font-size: 36px;
    text-align: center;

}

.input-box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 1px   rgba(0, 0, 0, 0.453);;
    border-radius: 40px; 
    outline: none;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    
}

.input-box input::placeholder {
    color: #757575d3;    
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -10px 0 10px;
    font-size: 14px;

}

.remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 2px;

}
.remember-forgot a {
    color: #000000;
    text-decoration: none;
}
.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: rgb(0, 0, 0);
    color: #f4f4f4fa;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(223, 33, 33, 0.247);
    margin-top: 20px;

}

.login:hover {
    background-color: transparent;
    border: 2px solid #464646;
    color: #ffffff50;
    transition: 1s;
}

.register-link {
    text-align: center;
    margin: 20px 0 15px;
    font-size: 14px;
    color: #000000c8;

}
.register-link a {
    color: #000000c8;
    text-decoration: none;
    font-weight: 600;
}

